body {
<<<<<<< HEAD
    background-color: #EDEADD;
=======
    background-color: #f5f5f5;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
    font-family: sans-serif;
    margin: 0;
}

<<<<<<< HEAD
h2 {
    font-size: 14px;
}

.container {
    padding: 20px;
}

 /* #webgl-container {
=======
.webgl-container {
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
<<<<<<< HEAD
    height: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
} */

#home-page {
    width: 100%;
    height: 100%; /* Faz o header ocupar toda a altura da tela */
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita rolagem extra */
}

.home-image {
    width: 100%;
    height: 80%;
    object-fit: cover; /* Mantém a proporção da imagem e cobre todo o espaço */
}


.square {
    width: 200px;
    height: 200px;
    background-color: black;
    position: relative;
}

.square::before,
.square::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
}

.square::before {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left;
    transform: rotate(45deg);
}

.square::after {
    left: 50%;
    transform: translateX(-50%);
    transform-origin: top;
    transform: rotate(-45deg);
=======
    height: auto;
    overflow: hidden;
    background-color: #f5f5f5;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
}

nav {
    position: fixed;
    font-family: 'Albert Sans';
    font-weight: bold;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
<<<<<<< HEAD
    font-size: 12;
=======
    font-size: 40%;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    background-color: none;
}

.nav-link-active {
    color: #0b6945; /* Cor do botão ativo (vermelho, por exemplo) */
    font-weight: bold; /* Deixa o texto em negrito */
    background-color: transparent;
    border: none;
}

<<<<<<< HEAD
#cabecalho {
=======
.cabecalho {
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
<<<<<<< HEAD
    z-index: 10;
=======
    display: flex;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
}


.card {
<<<<<<< HEAD
    border: none;
    box-shadow: none;
    padding: 4px;
}

.row {
    flex-wrap: wrap; /* Para quebrar corretamente em telas pequenas */
    justify-content: space-between; /* Garante espaçamento uniforme */
=======
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    box-shadow: none;
    height: auto;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
}

.card img {
    background-color: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
<<<<<<< HEAD
    font-size: 12px;
=======
    font-size: 60%;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
    font-family: 'Albert Sans';
    color: #666;
    font-weight: bold;
}
.card p {
    margin-top: 10px;
<<<<<<< HEAD
    font-size: 12px;
=======
    font-size: 10px;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
    color: #666;
    font-family: 'Albert Sans';
}

.card.reverse {
    flex-direction: column-reverse;
}

.section-title {
    font-family: 'Albert Sans';
    font-weight: bold;
<<<<<<< HEAD
    font-size: 1em;
=======
    font-size: 16px;
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
}

#nova-secao {
    font-family: 'Albert Sans';
}

.img-responsiva {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: auto;
<<<<<<< HEAD
}
=======
}
>>>>>>> f6ba129280c60b0c6296651ffa9bb8a7383d8ce7
